.btn {
  font-weight: 700;
  background-color: #381696;
  border-color: #381696;
  color: white;
  padding: 1rem 2rem;
  text-transform: uppercase;
  border-radius: 300px;
  border-width: 5px;
  font-family: "Montserrat", sans-serif;
}
.btn:hover {
  background-color: #26b4b9;
  border-color: #26b4b9;
  border-width: 5px;
  cursor: pointer;
}